<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="flex allign-item-center container-fluid">
    <div>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/dkto58vbg/image/upload/v1674761984/development/logo_titlr_sr_urwsr3.png", alt: "Secret retreat" %>
      <% end %>
    </div>

    <%= render "shared/search_rooms" %>

    <div class="d-inline-flex collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <%= render "shared/navbar_navigation_options" %>
          <li class="nav-item dropdown">
            <%= render "shared/navbar_avatar" %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
             <%= render "shared/navbar_dropdown" %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
