<div class="container mt-5 mb-5">
  <div>
    <%= form_with url: "/rooms", method: :get do |form| %>
      <%= form.text_field :city, placeholder: 'City'%>
      <%= form.number_field :guests, placeholder: 'Number of guests', in: 1..10, step: 1%>
      <%= form.number_field :min_price, placeholder: 'Min price', in: 0..1000, step: 10 %>
      <%= form.number_field :max_price, placeholder: 'Maxprice', in: 0..1000, step: 10 %>
      <%= form.submit "Search" %>
    <% end %>
  </div>

  <h3 class="text-center">Our best rooms to enjoy the best time</h3>
  <p class ="text-center">We won't tell anything, we promise !</p>
  <div class="row mt-2 p-10">
    <% @rooms.each do |room| %>
      <div class="col-md-4 mb-4">
        <div class="card mt-5 rounded-4 h-100 w-100" style="width: 18rem;">
          <img src="https://www.club-rentabilite.fr/wp-content/uploads/2021/06/Image-3-1080x675.jpeg" class="card-img-top rounded-4" alt="...">
          <div class="card-body">
            <h5 class="card-title mt-4"><%= room[:title] %></h5>
            <p class="card-text mt-2"><%= room[:description] %></p>
            <p class ="me-3 mb-4"><i class="fa-solid fa-dollar-sign me-2"></i><%= room.price.to_i %> - <i class="fa-solid fa-user-group me-2"></i><%= room.guests_number %></p>
            <%= link_to "See more", room_path(room), class: "button" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

